.button {
    display: block;    
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    // outline-color: #e987d9;
    outline: none;

    // * {
    //     width: 100%;
    //     height: auto;
    // }    
}

.span {
    font-size: 16px;
    font-weight: 700;
    color: #e987d9;
}