$node-width: 280px; 
$editor-height: 100px; 
$header-height: 40px; 
$controll-diameter: 14px;

.node {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: $node-width;
    box-sizing: border-box;
    outline: none; 
}

.header {
    display: flex;
    height: $header-height;
    padding: 10px;
    background-color: #dadada;
    box-sizing: inherit;

    &:hover {
        cursor: move;
    }
}

.button {
    display: block;    
    padding: 0;
    width: $header-height / 2;
    height: $header-height / 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    // outline-color: #e987d9;
    outline: none;

    * {
        width: 100%;
        height: auto;
    }    
}

.controller {
    position: absolute;
    width: $controll-diameter;
    height: $controll-diameter;
    border-radius: 50%;
    background-color: #e987d9;
    opacity: 0.9;

    &:hover {
        cursor: pointer;
    }
}

.top {
    top: -($controll-diameter / 2);
    left: 50%;
    transform: translateX(-50%);
}

.bottom {
    bottom: -($controll-diameter / 2);
    left: 50%;
    transform: translateX(-50%);
}

.left {
    top: 50%;
    transform: translateY(-50%);
    left: -($controll-diameter / 2);
}

.right {
    top: 50%;
    transform: translateY(-50%);
    right: -($controll-diameter / 2);
}