.node {
    position: absolute;
    display: flex;
    flex-direction: column;    
    box-sizing: border-box;
    outline: none; 
    cursor: move;
}

.resize {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}