.node {
    position: absolute;
    display: flex;
    flex-direction: column;     
    max-height: 300px;
    box-sizing: border-box;
    outline: none; 
    z-index: 30;
}

.resize {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border: none;
    background: transparent;
    cursor: nwse-resize;
    outline: none;
}

.span {
    outline: none;

    &:focus {
        color: #ff6f61;
    }
}

.displayEditorBtn {
    display: flex;
    margin-left: auto;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;

    &:focus .displayEditorIcon {
        color: #ff6f61;
    }
}

.displayEditorIcon {
    margin: auto;
    color: #4d4d4d;
}