$side_bar_width_min: 60px;
$side_bar_width_max: 120px;

.sidebar {
    position: relative;
    width: $side_bar_width_max;
    padding: 10px;
    min-height: 100vh;
    background: #e6e6e6; 
    box-sizing: border-box; 
    z-index: 40;
}

.buttonWrap {
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}

.button {
    display: flex;
    width: 30px;
    height: 35px;
    margin-right: auto;
    border: none;
    background: #d4d4d4;
    cursor: pointer;   
    color: #4d4d4d;
    outline: none; 

    &:focus {
        color: #ff6f61;
    }

    * {
        width: 100%;
        height: auto;
        margin: auto;
    }
}

.item {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: none;
    background: #d4d4d4;
    cursor: pointer;   
    outline-color: #ff6f61; 
}