.toolbar {
    display: flex;
    padding: 5px;
    background-color: #ffffff;
    border-bottom: 1px dashed #dadada;
}

.editor {
    flex-grow: 1;
    max-height: 300px;
    padding: 10px;
    background-color: #ffffff;
    outline: none;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        background-color: #dadada;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #bebebe;
        border-radius: 5px;
    }
}

.toolbar a,
.toolbar button {
    width: 20px;
    height: 20px;
    padding: 0;
    outline: none;

    &:focus {        
        color: #ff6f61;
    }
}

.toolbar button {
    margin-right: 5px;
    background: transparent;
    border: none;    
    cursor: pointer;  
}

.toolbar a {
    margin-left: auto;
    color: #ff6f61;
    font-weight: 700;

    &:hover {
        cursor: pointer;
    }
}