.toolbar {
    display: flex;
    padding: 5px;
    background-color: #ffffff;
    border-bottom: 1px dashed #dadada;
}

.editor {
    flex-grow: 1;
    min-height: 100px;
    padding: 10px;
    background-color: #ffffff;
    outline: none;
    cursor: initial;
}

.toolbar a,
.toolbar button {
    width: 20px;
    height: 20px;
    padding: 0;
}


.toolbar button {
    margin-right: 5px;
    background: transparent;
    border: none;    
    outline: none; 
    cursor: pointer;   
}

.toolbar a {
    margin-left: auto;
    color: #8f0000;
    font-weight: 700;

    &:hover {
        cursor: pointer;
    }
}